---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto p-8 flex justify-end flex-col h-screen font-light">
    <div class="text-xl mb-6">
      hi, my name is
      <span class="bg-slate-200 px-0.5 font-medium">Bryon Sigawin</span>. i
      design and build
      <span class="bg-slate-200 px-0.5 font-medium">interactive websites</span>
      and
      <span class="bg-slate-200 px-0.5 font-medium">web applications</span>.
    </div>
    <div class="text-xs">
      hit me up on <a href="mailto:bryon.sigawin@gmail.com" class="underline"
        >bryon.sigawin@gmail.com</a
      >.
    </div>
    <div class="text-xs">
      or find out what i've done on my <a href="#" class="underline">resume</a>.
    </div>
  </main>
</Layout>

<style></style>
