---
import "@fontsource/iosevka-curly/300.css";
import "@fontsource/iosevka-curly/400.css";
import "@fontsource/iosevka-curly/500.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Hello! I'm a front-end developer of sorts." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bryon Sigawin</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "Iosevka Curly", sans-serif;
    font-size: 14px;
    font-weight: 300;

    background: #f3f4f6;
  }
</style>
